@using ASP_MVC_dz5.Models
@using ASP_MVC_dz5.App_Code;
@{
    //Layout = null;
}

<h2>Author</h2>
@if (AuthorRepository.Instanse._authors.Count > 0)
{
    @Html.GenerateCustomTable(AuthorRepository.Instanse._authors, author => { return $"{Html.ActionLink("Edit", "Edit", new { id = author.Id }, new { @class = "btn btn-success" })}{Html.ActionLink("Delete", "Delete", new { id = author.Id }, new { @class = "btn btn-danger" })}"; })
    <div class="footer-table">
        @Html.ActionLink("Add", "Create", new { }, new { @class = "btn btn-success" })
    </div>
}
else
{
    <h3 class="empty-table">No records. <a href="/Author/Create" class="first-records">Add First Author</a></h3>
}
